.catalog {
  background-color: #78909c;
}

.catalog__header {
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: calc(25px + 1vmin);
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  color: #c6ff00;
}

.tool-list {
  margin: 0;
  padding: 0 5%;
  list-style: none;
}

.tool-item {
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px #ffe57f;
}

/* ------------------------------------ */
.tool-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #37474f;
}

.tool__img {
  margin-right: 30px;
  width: calc(150px + 10vw);
  height: calc(150px + 10vw);
  border: 1px solid #c6ff00;
  border-radius: 10px;
  box-shadow: 0 0 5px #c6ff00;
}

.tool__label {
  display: flex;
  align-self: flex-start;
}

.tool__desc {
  margin-right: 20px;
}

.tool__name {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: calc(16px + 1.5vw);
  color: #ffe57f;
}

.tool__text {
  margin-top: 0;
  font-size: calc(10px + 1vw);
  color: #CECECE;
}

.tool__tally {
  width: 35%;
}

.tool__price {
  margin-top: 1rem;
  font-size: calc(12px + 1.2vw);
  text-align: right;
  font-weight: 600;
  color: #FF9900;
}

.tool__availability {
  font-size: calc(10px + 1vw);
  text-align: right;
  color: #ffe57f;
}

.tool__quantity {
  text-align: right;
  color: #76ff03;
}

/*-----------------------------------------*/
.comments {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #929ba0;
}


.сomments__header {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: calc(16px + 1.5vw);
  text-align: center;
  color: #76ff03;
}

.comment-recorder {
  display: flex;
  flex-flow: column nowrap;
  padding: 5%;
  border-top: 1px solid #37474f;
  border-bottom: 1px solid #37474f;
}

.recorder__header {
  margin-top: 0;
  text-align: center;
  text-transform: lowercase;
  color: #ffe57f;
}

.recorder__label {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 15px;
  font-size: calc(10px + 1vw);
}

.recorder__input {
  margin-top: 5px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: calc(8px + 1vw);
  color: #CECECE;
  background: #37474f;
}

.recorder__input::placeholder {
  color: #CACACA;
}

.recorder__btn {
  align-self: center;
  max-width: 60%;
}





.comment-list {
  list-style: none;
  margin: 0;
  padding: 5% 0;
}

.comment-item {
  position: relative;
  padding: 0 5% 20px;
  border-bottom: 1px solid #37474f;

}

.comment__text {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: calc(8px + 1vw);
}

.comment__autor {
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 1vw);
  font-weight: 600;
}

.text_positives {
  font-weight: 600;
  color: #00ff0d;
}

.text_negatives {
  color: #eeff00;
  font-weight: 600;
}

.btn__del {
  position: absolute;
  right: 5%;
  bottom: 10%;
  padding: 1px 7px 2px;  
  border: none;
  border-radius: calc(20px + 1vw);
  text-align: center;
  font-size: calc(10px + 1vw);
  color: #000000;
  font-weight: 600;
  background-color: #ff0000;
  cursor: pointer;
}

.btn__del:hover,
.btn__del:active,
.btn__del:focus {
  outline: none;
  background: rgba(255, 0, 0, 0.6);
}


/* font-size: calc(8px + 1vw); */

/* ------------------------------------------- */


.btn-group {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #37474f;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: calc(10px + 1vw);
  font-weight: 600;
  letter-spacing: 0.7px;
  background-color: #FF9900;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  background: rgba(255, 153, 0, 0.6);
}

.count {
  margin-left: 5px;
  padding: 0.3rem 0.5rem 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: calc(5px + 1vw);
  background-color: #76ff03;
}