.btn-group {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #37474f;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: calc(10px + 1vw);
  font-weight: 600;
  letter-spacing: 0.7px;
  background-color: #FF9900;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  background: rgba(255, 153, 0, 0.6);
}

.count {
  margin-left: 5px;
  padding: 0.3rem 0.5rem 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: calc(5px + 1vw);
  background-color: #76ff03;
}