.tool-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #37474f;
}

.tool__img {
  margin-right: 30px;
  width: calc(150px + 10vw);
  height: calc(150px + 10vw);
  border: 1px solid #c6ff00;
  border-radius: 10px;
  box-shadow: 0 0 5px #c6ff00;
}

.tool__label {
  display: flex;
  align-self: flex-start;
}

.tool__desc {
  margin-right: 20px;
}

.tool__name {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: calc(16px + 1.5vw);
  color: #ffe57f;
}

.tool__text {
  margin-top: 0;
  font-size: calc(10px + 1vw);
  color: #CECECE;
}

.tool__tally {
  width: 35%;
}

.tool__price {
  margin-top: 1rem;
  font-size: calc(12px + 1.2vw);
  text-align: right;
  font-weight: 600;
  color: #FF9900;
}

.tool__availability {
  font-size: calc(10px + 1vw);
  text-align: right;
  color: #ffe57f;
}

.tool__quantity {
  text-align: right;
  color: #76ff03;
}